analysis (copy)/*
pr/*
old_figures/*
analysis/cache_dir/*
analysis/outputs/*
analysis/runs/*
*__pycache__*
literature_identification/jupyter-google*
*~lock*
data/*
WGIIAR5-Chap18_FINAL.pdf
.Rhistory
*~
*.log
*.synctex*
*.aux
*.bbl
*.blg
*.nav
*.out
*.run.xml
*.snm
*.toc
literature_identification/IPCC*
*.ipynb_checkpoints*
supplementary_data/*.csv
